body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p,
footer {
  color: gray;
  font-size: 21px;
}

a {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

img[src*="phone"] {
  margin-top: 20px;
}

#img-small {
  display: none;
}

footer {
  padding: 4px;
  text-align: right;
}

video {
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: xx-large;
  }
  h2 {
    font-size: x-large;
  }
  p {
    font-size: small;
  }
  a {
    font-size: smaller;
  }
  #img-large {
    display: none;
  }
  #img-small {
    display: inline-block;
    max-width: 90%;
  }
  img[src*="phone"] {
    max-width: 10%;
  }
  video {
    max-width: 90%;
  }
}
